<h1>Welcome To DadsBoard </h1>

<p> This is a place where Dads can get together and share some of the fun things there doing with there kids. As dads were all busy but this is a place where we can be a comunity and help eachother out. </p>