<h2>Check out all the ideas here. Also leave a comment and rating on the ones you like most! </h2>
<ul>
<% @idea.each do |i|%>
   <h2> <%= i.title %></h2><br>
   <p><%= i.description %> </p><br>
   <%= link_to "Comment", new_idea_comment_path(i.id) %>
    <% end %>
    </ul>