Idea show page <br>
<div>
<h1><%= @idea.title %></h1>
</div>
<p><h4>Idea:</h4>
<%= @idea.description %><br>
<p>

<%= @idea.user.username %>

<%= button_to "Delete", idea_path(@idea.id), :method => :delete, :class => "destroy" if @idea.user == current_user %><br>
