<!DOCTYPE html>
<html lang="en">
<head>
  <title>DadsBoard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="nav navbar-nav">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">DadsBoard</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      <li><a href=<%= ideas_path %>>All Ideas</a></li>
      <li><a href="<%= new_idea_path %>">New Ideas</a></li>
      <li><a href="<%= types_path %>">Type Categories</a></li>

      
            
          </ul>
        </li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <% if !logged_in? %> 
       <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href='/auth/github'><span class="glyphicon glyphicon-log-in"></span> GitHub Login</a></li>
        <% else %>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        <% end  %>
      </ul>
    </div> n
  </div>
</nav>

</body>
</html>
<body>

<div class="container">
  <div class="jumbotron">
    
    
</body>
  <body>
    <%= yield %>
  </body>
</html>
